
.idea/.name

.idea/dictionaries/jason.xml

.idea/Learning.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

Python/Cal/.idea/.name

Python/Cal/.idea/Cal.iml

Python/Cal/.idea/dictionaries/jason.xml

Python/Cal/.idea/misc.xml

Python/Cal/.idea/modules.xml

Python/Cal/.idea/vcs.xml

Python/Cal/.idea/workspace.xml

Python/PCI/.idea/.name

*.xml

Python/PCI/.idea/dictionaries/jason.xml

Python/PCI/.idea/PCI.iml

Python/PCI/collaborativeFiltering.pyc

Python/PCI/collaborativeFiltering.pyc

*.pyc

Python/neural_network/.idea/.name

Python/neural_network/.idea/neural_network.iml

Python/neural_network/demo.weights

AngularJS/.idea/.name

AngularJS/.idea/AngularJS.iml
